form {
    margin: 0;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Optima;
}

#header {
    user-select: none;
    background-color: #669933;
    height: 48px;
    padding-left: 30px;
    padding-right: 30px;
}

#header span {
    font-size: 24px;
    font-family: Optima;
}

.pixel {
    margin: 1px;
}

.pixel.active:hover {
    margin: 0;
    border-style: dotted;
    border-width: 0.5px;
    border-color:white!;
    /*filter:brightness(1.5);*/
    /*opacity:0.9;*/
}

button {
    font-family: Optima;
    background-color: black;
    border: white 1px solid;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    font-size: 24px;
}

button:active {
    background-color: white;
    color: black;
}